<div>
    <div *ngIf="childSelectedAnimal">
      <h3>{{childSelectedAnimal.species}}</h3>
      <h3>Edit Animal</h3>

      <label>Enter Animal species:</label>
      <input [(ngModel)]="childSelectedAnimal.species"><br>

      <label>Enter Animal name:</label>
      <input [(ngModel)]="childSelectedAnimal.name"><br>

      <label>Enter Animal age:</label>
      <input [(ngModel)]="childSelectedAnimal.age"><br>

      <label>Enter Animal diet:</label>
      <input [(ngModel)]="childSelectedAnimal.diet"><br>

      <label>Enter Animal location:</label>
      <input [(ngModel)]="childSelectedAnimal.location"><br>

      <label>Enter Animal caretakers:</label>
      <input [(ngModel)]="childSelectedAnimal.caretakers"><br>

      <label>Enter Animal sex:</label>
      <input [(ngModel)]="childSelectedAnimal.sex"><br>

      <label>Enter Animal likes:</label>
      <input [(ngModel)]="childSelectedAnimal.likes"><br>

      <label>Enter Animal dislikes:</label>
      <input [(ngModel)]="childSelectedAnimal.dislikes"><br>


      <button class="btn btn-info" (click)="doneButtonClicked()">Done</button>
    </div>
  </div>
