<div class="container">

  <select class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (change)="onChange($event.target.value, currentAnimal)" aria-label="sort animals by age">
    <option value="allAnimals" selected="selected" aria-label="sort by all animals">All Animals</option>
    <option value="juvenile" aria-label="sort by juvenile animals">Juvenile Animals</option>
    <option value="mature" aria-label="sort by mature animals">Mature Animals</option>
  </select>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Species</th>
        <th>Name</th>
        <th>Age</th>
        <th>Diet</th>
        <th>Location</th>
        <th>Caretakers</th>
        <th>Sex</th>
        <th>Likes</th>
        <th>Dislikes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let currentAnimal of childAnimalList | age:filterByAge'>
        <td>{{currentAnimal.species}}</td>
        <td>{{currentAnimal.name}}</td>
        <td>{{currentAnimal.age}}</td>
        <td>{{currentAnimal.diet}}</td>
        <td>{{currentAnimal.location}}</td>
        <td>{{currentAnimal.caretakers}}</td>
        <td>{{currentAnimal.sex}}</td>
        <td>{{currentAnimal.likes}}</td>
        <td>{{currentAnimal.dislikes}}</td>
        <td><button class="btn" (click)="editButtonHasBeenClicked(currentAnimal)" aria-label="edit animal">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
